.test-page {
    .search {
        margin-left: 1em;
        .results {
            margin-left: 1em;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;

            h2, label {
                width: 100%;
            }

            label:nth-of-type(even) {
                background-color: grey;
                margin-right: 2em;
            }

            label:nth-of-type(odd) {
                background-color: lightgray;
                margin-right: 2em;
            }

            input[type='radio']{
                width: 0;
                height: 0;
                opacity: 0;
            }

            label.selected {
                border: 1px solid cyan;
            }
        }            
    }
}